
<nav class="navbar">
  <div class="brand">AutoCustomizer</div>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/earnings-payouts">Earnings & Payouts</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/productmanagement">Product Management</a></li>
    <li><a href="/profileSettings">Profiles</a></li>
    <li><a href="/reviews">Reviews</a></li>
  </ul>
</nav>